html {font-size: 100.01%;}

h1 {
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0;
  float: left;
}
h3 {
  background-color: cornflowerblue;
  margin: 0;
  display: block; float: none;
}
body {
  background-color: white;
  background-image: url("bg.png");
  font-family: Comfortaa, Verdana;
  overflow-x: hidden;
}

#container {
  margin: 0 auto;
}
#content {
  width: 100%;
  display: table;
}

#content .sidebar.sb1 {
  width: 15%;
  border: 1px solid #dadada;
}
#content .sidebar.sb2 {
  width: 15%;
  border: 1px solid #dadada;
}
#content #main {
  width: 70%;
}

#content .sidebar.sb1,
#content .sidebar.sb2,
#content #main
{
  display: table-cell;
}
.whatdoicallit {
  font-size: 30px;
  display: flex;
  align-items: center;
  height: 100px;
}
.hamburger-bar {
  font-size: 18px;
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
}

.logo {
  width: 500px; height: 100px;
}

.snorlink {
  width: 552px;
  max-width: 100%;
}

/* Now time for the navigation menu stuff... Thanks to sitepoint.com for the code! */

.navigation {
    list-style: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.site-wrap {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;

}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
}

.nav-trigger:checked + label {
    left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
    left: 200px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}

@media screen and (min-width: 956px) {
  .nav-trigger + label {
    display: none;
  }
  .navigation {
    display: none;
  }
  .hamburger-bar {
    display: none;
  }
  .search {
    display: none;
  }
}

@media screen and (max-width: 1435px) {
  .whatdoicallit {
    font-size: 20px;
  }
}
@media screen and (max-width: 1145px) {
  .whatdoicallit {
    font-size: 18px;
    height: 75px;
  }
  .logo {
    height: 75px;
    width: 375px;
  }
  #content .sidebar.sb2 {
    display: none;
  }
}

@media screen and (max-width: 955px) {
  .whatdoicallit {
    display: none;
  }
  .site-wrap {
    background-color: white;
  }
  
}
@media screen and (max-width: 400px) {
  #content .sidebar.sb1 {
    display: none;
  }
  
}

@media screen and (max-width: 530px) {
  .search {
    display: none;
    
  }
  
}


